/*font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/

html {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background: #4a657c;
    background-image: url("../img/bg/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;

    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.header__title {
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 30px;
    font-family: Merriweather, serif;
    margin-top: -50px;
}

.header__slogan {
    font-size: 28px;
    font-family: PT Sans Caption, sans-serif;
    line-height: 42px;
    opacity: 0.93;
}

.header__arrow {
    font-size: 48px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 60px;
    height: 50px;
    margin-left: -30px;
}

.title h2 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;

}

.portfolio p {
    font-size: 16px;
}

.portfolio a:hover {
    color: #0052c2;
}

.portfolio {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 120px;
    margin-top: 100px;
}

.block1 {
    flex: 1;
}

.block2 {
    flex: 1;
}

.block3 {
    flex: 1;
}

.portfolio_text {
    margin-top: 5px;

}

.portfolio_text a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

/*FOOTER*/

.container {
    background-color: #061634;
    color: #6479a2;
    padding-top: 80px;
    padding-bottom: 180px;
    min-width: 500px;
}

p.name {
    font-size: 28px;
    line-height: 25px;
    font-family: 'Merriweather', serif;
}

#bottom_p {
    margin-top: -15px;
}

.bottom1 {
    margin-top: -11px;
}


.bottom2 i:hover {
    color: #ffe400;
}

.bottom2 i {
    color: #fff;
    font-size: 32px;
    margin-right: 30px;
}

.bottom2 {
    color: #ffffff;
    font-size: 16px;
}

.bottom_box {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    width: 81%;
}

.bottom3 {
    margin-top: 5PX;
}

.bottom3 a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;

    display: inline-block;

    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50px;
    padding: 8px 23px 8px 23px;
}

.bottom3 a:hover {
    color: #061634;
    background: #fff;
}